<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SearchWordRankMapper" >
  <resultMap id="BaseResultMap" type="com.yxsd.kanshu.search.model.SearchWordRank" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="word" property="word" jdbcType="VARCHAR" />
    <result column="book_ids" property="bookIds" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Where">
    <if test="id != null"> and id= #{id}</if>
    <if test="word != null and word != ''"> and word= #{word}</if>
  </sql>
  
  <sql id="Base_Column_List" >
    id, word, book_ids, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from search_word_rank
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from search_word_rank
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yxsd.kanshu.search.model.SearchWordRank" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into search_word_rank (word, book_ids, create_date, 
      update_date)
    values (#{word,jdbcType=VARCHAR}, #{bookIds,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yxsd.kanshu.search.model.SearchWordRank" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into search_word_rank
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="word != null" >
        word,
      </if>
      <if test="bookIds != null" >
        book_ids,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="word != null" >
        #{word,jdbcType=VARCHAR},
      </if>
      <if test="bookIds != null" >
        #{bookIds,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yxsd.kanshu.search.model.SearchWordRank" >
    update search_word_rank
    <set >
      <if test="word != null" >
        word = #{word,jdbcType=VARCHAR},
      </if>
      <if test="bookIds != null" >
        book_ids = #{bookIds,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yxsd.kanshu.search.model.SearchWordRank" >
    update search_word_rank
    set word = #{word,jdbcType=VARCHAR},
      book_ids = #{bookIds,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getAll" resultMap="BaseResultMap" parameterType="map">
    select <include refid="Base_Column_List" />
    from search_word_rank where 1=1
    <include refid="Base_Where" />
  </select>
</mapper>