<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DriveTypeMapper" >
    <resultMap id="BaseResultMap" type="com.yxsd.kanshu.portal.model.DriveType" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="comment" property="comment" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Where">
        <if test="id != null"> and id= #{id}</if>
        <if test="type != null"> and type= #{type}</if>
    </sql>

    <sql id="Base_Column_List" >
        id, type, name, comment, create_date,update_date
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from drive_type
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from drive_type
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"  parameterType="com.yxsd.kanshu.portal.model.DriveType">
        insert into drive_type
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="type != null" >
                type,
            </if>
            <if test="name != null and name != ''" >
                name,
            </if>
            <if test="comment != null and comment != ''" >
                comment,
            </if>
            <if test="createDate != null" >
                create_date,
            </if>
            <if test="updateDate != null" >
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="type != null" >
                #{type,jdbcType=INTEGER},
            </if>
            <if test="name != null and name != ''" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="comment != null and comment != ''" >
                #{comment,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null" >
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null" >
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yxsd.kanshu.portal.model.DriveType" >
        update drive_type
        <set >
            <if test="type != null" >
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="comment != null" >
                comment = #{comment,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null" >
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yxsd.kanshu.portal.model.DriveType" >
    update drive_type
    set type = #{type,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      name = #{type,jdbcType=VARCHAR},
      comment = #{score,jdbcType=VARCHAR},
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="getAll" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List" />
        from drive_type
        <include refid="Base_Where" />
        order by type asc
    </select>
</mapper>